<%- include('partials/header') %>

<h1>Campgrounds</h1>

<% campgrounds.forEach((campground)=>{%>
<li>
	<div>
		<h4><%= campground.name %></h4>
		<img src="<%= campground.image %>" alt="" />
	</div>
</li>
<%});%>

<a href="/">home</a>
<%- include('partials/footer') %>
