img {
	width: 30%;
	height: 30%;
	float: left;
	margin: 1.66%
}

p {
	font-family: raleway;
	font-weight: 800;
	font-size: 3vw;
	margin-left: 1.66%;
	text-transform: uppercase;
	border-bottom: 2px solid red;
	width: 30%;
	padding-bottom: 3vw;
}